@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

h1 {
  margin-bottom: 1rem;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: var(--color-text);
  background: var(--color-background);
  margin-bottom: 1rem;
}